= form_with(model: room, local: true) do |form|
  = render 'messages/error_messages', object: form.object
  .field
    = form.label :name
    = form.text_field :name
  .actions
    = form.submit class: 'button'
