.grid-x
  .cell
    %p#notice= notice
    %div{id: "room_id_#{@room.id}",
    data: { room_id: "#{@room.id}",
    current_user_id: current_user.id }}
    %h1
      = @room.name
      Room
    = render 'rooms/active_users', room: @room

    = form_for [@room, @message], remote: true do |f|
      = f.label :content, 'New Message'
      = f.text_area :content, rows: 3
      = f.submit class: 'button'

    %h3 Messages
    %div{id: "msg_room_#{@room.id}"}
      = render @messages
