.grid-x
  .cell
    %p#notice= notice
    %h1
      = @room.name
      Room

    = form_for [@room, @message], remote: true do |f|
      = f.label :content, 'New Message'
      = f.text_area :content, rows: 3
      = f.submit class: 'button'

    %h3 Messages
    %div{id: "msg_room_#{@room.id}"}
      = render @messages
