.grid-x.grid-margin-x
  .cell
    %p#notice= notice
    %p
      %strong Name:
      = @room.name

    = form_for [@room, @message], remote: true do |f|
      = f.text_field :content
      = f.submit

    %h3 Messages
    %div{id: "msg_room_#{@room.id}"}
      = render @messages

    = link_to 'Edit', edit_room_path(@room)
    |
    = link_to 'Back', rooms_path
